# Contains all your dependencies
node_modules/

/dist
/types

# Deal with environment files
.env
.env.*

# Coverage directory used by testing tools
coverage

# Visual Studio Code configuration
.vscode/
.vs/
*.tgz

**/bin/
**/obj/


# npm and yarn debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

demo/.parcel-cache/
demo/dist/